{%- macro solution(content) -%}
<div class="accordion" id="solutionAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Solution
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#solutionAccordion">
            <div class="accordion-body">
                {{content | safe}}
            </div>
        </div>
    </div>
</div>
{%- endmacro -%}