{% extends "layout/default.html" %}
{% block title %}Cookie stealing{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Cookie Scope</h1>

<p>
  Votre site a été piraté. Un attaquant a créé une page lui permettant d'intéragir
  avec la session. Cette page se trouve à la racine du site

  Ouvrez la console de développeur de votre navigateur et observez les requêtes produites
  lorsque vous naviguez vers <a href="/cookie-scope-attack">la page de l'attaquant</a>.
</p>

<p>
<h2>TODO</h2>
Corrigez le problème en modifiant la méthode <code>cookie_stealing</code> dans le fichier unsecure.py
</p>

{{ macro.solution("""
Les paramètres de Set-Cookie à définir sont <strong>Domain</strong> et <strong>Path</strong>.
""")}}
{% endblock %}