{% extends "layout/default.html" %}
{% block title %}My CDN has been hacked!{% endblock %}
{% block head %}
{{ super() }}
<script src="js/jquery.js"></script>
<script>
    a_jquery_function();
</script>
{% endblock %}
{% block content %}
<h1>My CDN has been hacked!</h1>

<p>
    Votre CDN qui vous fournit vos dépendances Javascript a été piraté.
    Un attaquant a modifié le fichier jquery.js pour inclure son propre code.

    Ouvrez la console de développeur de votre navigateur et observez les messages dans la console.
</p>

<p>
    Corrigez le problème en modifiant <strong>layout/cdn-hacked.html</strong>.

    Le fichier javascript original est <strong>jquery-original.js</strong>.

    Le but est d'empêcher le chargement du fichier jquery.js si le contenu a été modifié
    (Ne remplacer pas jquery.js par jquery-original.js).
</p>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Solution
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>Subresource Integrity</strong> permet de s'assurer que .
            </div>
        </div>
    </div>
</div>
{% endblock %}