{% extends "layout/default.html" %}
{% block title %}My CDN has been hacked!{% endblock %}
{% block head %}
{{ super() }}
<script src="js/jquery.js"></script>
<script>
    a_jquery_function();
</script>
{% endblock %}
{% block content %}
<h1>My CDN has been hacked!</h1>

<p>
    Votre CDN qui vous fournit vos dépendances Javascript a été piraté.
    Un attaquant a modifié le fichier jquery.js pour inclure son propre code.

    Ouvrez la console de développeur de votre navigateur et observez les messages dans la console.
</p>

<p>
    Corrigez le problème en modifiant <strong>layout/cdn-hacked.html</strong>.

    Le fichier javascript original est <strong>jquery-original.js</strong>.

    Le but est d'empêcher le chargement du fichier jquery.js si le contenu a été modifié
    (Ne remplacer pas jquery.js par jquery-original.js).
</p>

{{ macro.solution("""
<strong>Subresource Integrity</strong> permet de s'assurer que la ressource chargée par
la page n'a pas été modifée.
""")}}
{% endblock %}