{% extends "layout/default.html" %}
{% block title %}My CDN has been hacked!{% endblock %}
{% block head %}
{{ super() }}
<!-- TODO: Modifier la ligne suivante pour intégrer l'attribut integrity="sha384-V48IUtW5WndLt1HtFqeiEFaDLwixxwsfdhp0oh689gtR3pPwUTxUjaAixm1P9aLc"-->
<!-- Remplacer static/jquery.js par static/jquery-original.js pour vérifier que le script fonctionne -->
<script src="js/jquery.js"></script>
<script>
    a_jquery_function();
</script>
{% endblock %}
{% block content %}
<h1>My CDN has been hacked!</h1>

<p>
    Votre CDN qui vous fournit vos dépendances Javascript a été piraté.
    Un attaquant a modifié le fichier jquery.js pour inclure son propre code.

    Ouvrez la console de développeur de votre navigateur et observez les messages dans la console.
</p>

<p>
<h2>TODO</h2>
Corrigez le problème en modifiant <strong>layout/cdn-hacked.html</strong>.

Le fichier javascript original est <strong>jquery-original.js</strong>.

Le but est d'empêcher le chargement du fichier jquery.js si le contenu a été modifié
(Ne remplacer pas jquery.js par jquery-original.js).
</p>

<p>
<h2>Ressources</h2>
<ul>
    <li>
        <a href="https://developer.mozilla.org/fr/docs/Web/Security/Subresource_Integrity">"Subresource Integrity" sur
            MDN</a>
    </li>
    <li>
        <a href="https://unpkg.com/jquery@3.6.0/dist/jquery.js?meta">Integrity provided by the CDN</a>
    </li>
</ul>
</p>

{{ macro.solution("""
<p>
    <strong>Subresource Integrity</strong> permet de s'assurer que la ressource chargée par
    la page n'a pas été modifée.
</p>
<p>
    Si vous intégrez le SRI dans la balise, une erreur est présente dans les erreurs de votre console
</p>
<code>
    &lt;script src=\"js/jquery.js\" integrity=\"sha384-V48IUtW5WndLt1HtFqeiEFaDLwixxwsfdhp0oh689gtR3pPwUTxUjaAixm1P9aLc\"&gt;&lt;/script&gt;
</code>
""")}}
{% endblock %}