{% extends "layout/default.html" %}
{% block title %}Cookie Secure{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Secure</h1>

<p>
    Un cookie <code>secure</code> est uniquement envoyé au serveur avec les requêtes HTTPS.
    Un cookie a été ajouté à cette page. Activez la directive <code>secure</code> pour
    empêcher le cookie d'être envoyé en HTTP.
</p>
<p>
<h2>Votre TODO-list</h2>
<ul>
    <li>Corrigez le problème en modifiant la méthode <code>cookie_secure</code> dans le fichier unsecure.py</li>
</ul>
</p>
<h2>Ressources</h2>
<ul>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies">Secure sur le MDN</a></li>
</ul>

{{ macro.solution("""
La valeur <strong>secure</strong> est ajoutée à la requête <code>Set-Cookie</code>.
<p>
    Code Flask
    <code style=\"display: block; white-space: pre-wrap\">
      def cookie_stealing():
        ...
        response.set_cookie('SESSION_ID', str(uuid.uuid4()), secure=True)
    </code>
</p>
""")}}
{% endblock %}