{% extends "layout/default.html" %}
{% block title %}CSRF{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>CSRF</h1>



<p>
    Le jeton anti-CSRF est enregistré dans la session. Sa valeur est vérifiée
    avec le jeton fourni quand le formulaire est envoyé.
    De nombreuses applications sont sans état (<strong>stateless</strong>) et
    ne dépendent plus d'un serveur gérant une session.
</p>

{% if token == "" %}
{% if result == "Success" %}
<div class="alert alert-success" role="alert">
    Le formulaire a bien été accepté!
</div>
{% else %}
<div class="alert alert-danger" role="alert">
    Le formulaire a été rejeté!
</div>
{% endif %}
{% else %}

<p>
    Utiliser le formulaire suivant pour tester le double submit cookie:
<div class="container px-4 mt-3 mb-3">
    <form method="post" action="{{ token }}">
        <div class="mb-3 row">
            <label for="from" class="col-sm-2 form-label">
                From:
            </label>
            <div class="col-sm-10">
                <input type="text" name="from" class="form-control" id="from"></input>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="to" class="col-sm-2 form-label">
                To:
            </label>
            <div class="col-sm-10">
                <input type="text" name="from" class="form-control" id="to"></input>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="amount" class="col-sm-2 form-label">
                Amount:
            </label>
            <div class="col-sm-10">
                <input type="number" min="1" name="from" class="form-control" id="amount"></input>
            </div>
        </div>
        <div class="mb-3 row">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
</div>
</p>
{% endif %}
<p>
<h2>Ressources</h2>
<ul>
    <li><a
            href="https://cheatsheetseries.owasp.org/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.html#double-submit-cookie">Cross-Site
            Double Submit Cookie - Request Forgery Prevention Cheat Sheet</a></li>
    <li><a href="https://owasp.org/www-pdf-archive/David_Johansson-Double_Defeat_of_Double-Submit_Cookie.pdf">Double
            Submit Cookie</a></li>
</ul>
</p>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Solution
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <!-- TODO -->
            </div>
        </div>
    </div>
</div>
{% endblock %}