{% extends "layout/default.html" %}
{% block title %}HSTS{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>HSTS</h1>

<p>
    HTTP Strict-Transport-Security est un en-tête
    dont le but est de forcer le navigateur a accédé au site
    via HTTPS.
    Le principe est que, lors de la première visite, le site indique
    que HTTPS doit être utilisé par la suite.
    Une redirection est généralement mise en place pour rediriger vers
    HTTPS. Mais, via du MitM, un attaquant pourrait désactiver le
    mécanisme de redirection et obliger à continuer la navigation
    de manière non chiffrée.
</p>

<p>
<h2>TODO</h2>
Intégrer l'en-tête <strong>HSTS</strong> en modifiant la fonction
<strong>hsts</strong> du fichier <strong>unsecure.py</strong>.
</p>

<p>
<h2>Ressources</h2>
<ul>
    <li><a href="https://flask.palletsprojects.com/en/2.0.x/security/#http-strict-transport-security-hsts">Documentation
            Flask</a></li>
</ul>
</p>
{{ macro.solution("""
Voir la documentation.
""")}}
{% endblock %}